.contact-form{
    /* padding: 0 3rem 0 3rem; */
    display: grid;
    /* height: 50vh; */
    margin-top: 8rem;
    grid-template-columns: 1fr;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}
.c-right .user{
    width: 18rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--blue);
    border-radius: 8px;
    font-size: 16px;
}
textarea{
    height: 4rem!important;
}
/* 
.c-blur1{
    top:1rem;
    left: 8rem;
} */
.awesome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
}
.awesome span:nth-of-type(1){
    color: var(--black);
    font-size: 1rem;
    font-weight: bold;
}
.awesome span:nth-of-type(2){
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}


/* Medium viewport or tablets */
@media only screen and (min-width: 32.5rem){
    .contact-form {
        grid-template-columns: 1fr 1fr;
    }
  }
  
  /* Large viewport or Laptops and PCs */
  @media only screen and (min-width: 60rem){
    
  }
