.toggle{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--seablue);
    border-radius: 1rem;
    position: relative;
    padding: 4px;
    cursor: pointer;
}

.toggle>*{
    width: 1rem;
    height: 1rem;
    color: var(--seablue)
}

.t-button{
    border-radius: 100%;
    background: var(--seablue);
    position: absolute;
}